# Import libraries

In [ ]:
import pandas as pd

# Load the excel file

In [ ]:
df = pd.read_excel("/content/sample_dataset_with_missing_values (1).xlsx")
df

# View the dataset

In [ ]:
df.head()

In [ ]:
df.tail()

# Check shape of dataset

In [ ]:
df.shape

# Column names

In [ ]:
df.columns

# Data types information

In [ ]:
df.info()

# Check missing values

In [ ]:
df.isnull().sum()

# Percentage of mising value

In [ ]:
(df.isnull().sum()/len(df)) * 100

# summary

In [ ]:
df.describe()

# Categorical columns

In [ ]:
df.describe(include="all")

# Unique values

In [ ]:
df["Department"].unique()

In [ ]:
df["City"].unique()

# Value counts

In [ ]:
df["Department"].value_counts()

In [ ]:
df["Gender"].value_counts()

# Check duplicate rows

In [ ]:
df.duplicated().sum()

# Basic sorting

In [ ]:
df.sort_values(by="Salary",ascending=False)

# Group BY

In [ ]:
df.groupby("Department")["Salary"].mean()

In [ ]:
df.groupby("Gender")["Experience_Years"].mean()

# Missing values

In [ ]:
df[df.isnull().any(axis=1)]

In [ ]:
df["Age"].fillna(df["Age"].mean(),inplace=True)
df

In [ ]:
df["Department"].fillna(df["Department"].mode()[0],inplace=True)
df

In [ ]:
df["Experience_Years"].fillna(df["Experience_Years"].median(),inplace=True)
df

In [ ]:
df["Performance_Score"].fillna(df["Performance_Score"].median(),inplace=True)
df

In [ ]:
df.isnull().sum()

In [ ]:
df.to_excel("Cleaned_dataset.xlsx", index=False)

# Column wise missing values

In [ ]:
missing_report = pd.DataFrame({
    "Missing_count":df.isnull().sum(),
    "missing percentage":(df.isnull().sum()/len(df)) * 100
})
missing_report

In [ ]:
numerical_cols = df.select_dtypes(include=["int64","float64"]).columns
categorical_cols = df.select_dtypes(include=["object"]).columns
numerical_cols, categorical_cols

In [ ]:
df[numerical_cols].mean()

In [ ]:
df[numerical_cols].median()

In [ ]:
df[numerical_cols].mode()

# Skewness and kurtosis

In [ ]:
df[numerical_cols].skew()

In [ ]:
df[numerical_cols].kurt()

In [ ]:
df[numerical_cols].var()

In [ ]:
df[numerical_cols].std()

In [ ]:
df[df["Salary"] > 60000]

In [ ]:
df[(df["Department"] == "IT") & (df["Experience_Years"] > 3)]

In [ ]:
pd.crosstab(df["Department"],df["Gender"])

In [ ]:
df["Salary_Rank"] = df ["Salary"].rank(ascending=False)
df[["Name", "Salary", "Salary_Rank"]]

In [ ]:
df["Experience_level"] = pd.cut(
    df["Experience_Years"],
    bins=[0,2,5,10,20],
    labels=["Junior","mid","senior","expert"]
)

df[["Experience_Years", "Experience_level"]]

In [ ]:
df[df["Joining_Year"] > 2020]

In [ ]:
df["Joining_Year"].value_counts().sort_index()

In [ ]:
df[df["Name"].str.startswith("A")]

In [ ]:
df["Gender"] = df["Gender"].replace({"M":"Male","F":"Female"})
df

In [ ]:
df["salary_per_Experience"] = df["Salary"] / df["Experience_Years"]
df